.container_carousel{
    margin: 0 auto;
    width: 1300px;
    height: 700px;
    padding:80px 0 80px 0;
    /* margin-top: 50px;
    margin-bottom: 50px; */
}
.image-carousel{
    max-width: 100%;
    max-height: 500px;
    min-height: 500px;
}


@media (max-width: 600px) {
    .container_carousel {
        width: 400px;
        margin: 0;
        padding: 0;
        max-height: 120px;
        min-height: 120px;
        margin-top: 0px;

    }
    .image-carousel{
        max-width: 100%;
        max-height: 300px;
        min-height: 300px;
    }
    
  }


