@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.container_home{
    height:100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    background-image: url('../assets/background-purpe.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}
